<%- include("partials/header") %>

<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form action="/blogs" method="post">
        <input type="text" name="blog[title]" placeholder="Title"> 
        <input type="text" name="blog[image]" placeholder="Image">
        <input type="text" name="blog[body]" placeholder="Text Here!">
        <input type="submit" value="Submit">
    </form>
</div>

<%- include("partials/footer") %>